# The base URL to an instance of the MATTR VII platform
REACT_APP_API_BASE_URL="https://jefferson-haw-yxxmjr.vii.mattr.global"

# Comma separated list of "domain+did:method:id" for the trusted credential issuers. We have chosen "+" to separate "domain",
# which is a hostname, from a did string because none of them would ever contain a "+" (https://www.w3.org/TR/did-core/#did-syntax)
REACT_APP_TRUSTED_ISSUERS=jason-haw-jfzjzn.vii.mattr.global+did:key:zUC7H2sFhr8KPiSKdHh78bL46KT7o2oAoLwiMwnSzwUWSjJRLqvkroyo2Zrxs4UxMR9XZujsUZ27fHD897b3yeqk9X7wnraW8QpjfwLgrVe61Z4uc6K5bXuZtyNhuyNQuFFErxM
